body {
  padding-top: 5rem;
}

h1 {
  font-weight:bolder;
  font-size:2.250em;
  color:#0B0C0E;
}

h2 {
  margin-top:25px;
  font-weight:lighter;
  font-size:1.125em;
  color:#545454;
  line-height:1.75;
  margin-bottom:25px;
}

h3 {
  font-size:1.500em;
  font-weight:600;
  letter-spacing:.5px;
  color:#0B0C0E;
}

h4 {
  font-size:1.125em;
  font-weight:600;
  letter-spacing:.5px;
  color:#0B0C0E;
}

.muted {
  color:#C0C0C0;
}

.header {
  font-weight:bolder;
  font-size:3.000em;
  color:#0B0C0E;
}

.subheader {
  font-weight:bold;
  font-size:2.250em;
  color:#0B0C0E;
}

.bg-white {
  background-color:white;
  border-bottom:1px solid #EEEEEE;
}

.nav-item {
  margin-left:10px;
  margin-right:10px;
}

.nav-item.active > a {
  color:#545454 !important;
}

.nav-link {
  padding-top:20px;
  padding-bottom:20px;
  color:#AAAAAA !important;
  font-weight:200;
  font-size:1.000em;
}

.nav-link:hover {
  color:#545454 !important;
}

.cta-input {
  height:50px;
  width:60%;
  border-radius:5px;
  border: 1px solid #E8E8E8;
  padding:10px 10px 10px 10px;
}

.cta-input::placeholder {
  color:#B9B9B9;
}

.cta-input:focus {
  border-color:#4A90E2;
}

.btn-primary {
  background-color:#4A90E2;
  height:50px;
  border:none;
  font-size:12px;
  color:white;
  min-width:150px;
  border-radius:5px !important;
}

.section {
  margin-top:100px;
  margin-bottom:250px;
}

.blob-content {
  width:90%;
  padding-top:100px;
}

.blob {
  width:50%;
  min-height:400px;
  background-image: url('img/blob.png');
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.center-section {
  width:40%;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

button {
  cursor: pointer;
}

.footer {
  background-color: white;
  padding-top:75px;
  padding-bottom:75px;
  margin-bottom:0px;
  color:#545454;
  border-top:1px solid #EEEEEE;
}

.footer-links {
  list-style: none;
  padding-left:0px;
  padding-top:10px;
  font-size:1.000em;
}

.footer-links>li {
  margin-top:5px;
  margin-bottom:5px;
}

.footer-links>li>a {
  color:#585858;
  letter-spacing:.82px;
}

.footer-links>li>a:hover {
  color:#1F1F1F;
  text-decoration:none;
}

.footer-brand {
  margin-top:50px;
  margin-bottom:25px;
}

.text-section {
  margin-top:100px;
  margin-bottom:100px;
}

.section-header {
  font-size:1.500em;
  color:#0B0C0E;
  font-weight:400;
}

.footer-header {
  font-weight:600;
  letter-spacing: 1.3px;
  color:#A8A8A8;
}

.feature-section {
  margin-top:50px;
  margin-bottom:100px;
}
