{% extends "layout.html" %}
{% block header %}About{% endblock %}
{% block body %}
<div class="container" style="margin-top:75px;">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align:center">
      <h1 class="header">We exist to improve the way people communicate online.</h1>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="text-align:center">
      <h2>We believe the web should be a place for people to share ideas, engage in discussion, and meet new people. That's why we're building solutions to make the web a better place. Cliché, we know.</h2>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<div class="container" style="margin-top:50px;">
  <div class="row" style="text-align:center;">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='img/justin.png') }}" width="50%">
    </div>
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='img/alex.png') }}" width="50%">
    </div>
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='img/trevor.png') }}" width="50%">
    </div>
  </div>
</div>

<div class="container" style="margin-top:30px;">
  <div class="row" style="text-align:center;">
    <div class="col-md-4">
      <h3>Justin Potts</h3>
    </div>
    <div class="col-md-4">
      <h3>Alex Meza</h3>
    </div>
    <div class="col-md-4">
      <h3>Trevor Nguyen</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="text-align:center;">
    <div class="col-md-4">
      <h4 class="muted">CEO</h4>
    </div>
    <div class="col-md-4">
      <h4 class="muted">CTO</h4>
    </div>
    <div class="col-md-4">
      <h4 class="muted">Head of Machine Learning</h4>
    </div>
  </div>
</div>

<div class="container" style="margin-top:25px;">
  <div class="row" style="text-align:center;">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <a href="https://medium.com/@justinpotts"><img src="img/medium.png" width="25px"></a>
            </div>
            <div class="col">
              <a href="https://medium.com/PottsJustin"><img src="img/twitter.png" width="25px"></a>
            </div>
            <div class="col">
              <a href="https://linkedin.com/pottsjustin"><img src="img/linkedin.png" width="25px"></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <a href="https://medium.com/@the_alex_meza"><img src="img/medium.png" width="25px"></a>
            </div>
            <div class="col">
              <a href="https://twitter.com/the_alex_meza"><img src="img/twitter.png" width="25px"></a>
            </div>
            <div class="col">
              <a href="https://www.linkedin.com/in/the-alex-meza/"><img src="img/linkedin.png" width="25px"></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <a href="https://twitter.com/trevortknguyen"><img src="img/twitter.png" width="25px"></a>
            </div>
            <div class="col">
              <a href="https://www.linkedin.com/in/trevortknguyen"><img src="img/linkedin.png" width="25px"></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
