{% extends "layout.html" %}
{% block header %}Demo{% endblock %}
{% block body %}
<div class="container" style="margin-top:125px; margin-bottom:100px;">
  <div class="row">
    <div class="col-md-6" style="text-align:left">
      <img src="{{ url_for('static', filename='img/together-illustration.png') }}" width="98%">
    </div>
    <div class="col-md-6">
      <div class="landing-header">
        <h1 class="header">Let's end online harassment together.</h1>
      </div>
      <div class="landing-subtext">
        <h2>Enter your email and we'll be in touch to set up a call. We'll tell you a little bit more about how it works, discuss ways we can help, and give you a quick demo.</h2>
      </div>
      <div class="landing-action">
        <form action="http://formspree.io/hello@kiteai.com" method="POST">
          <div class="input-group">
            <input name="email" class="cta-input" type=text placeholder="Enter your email">
            <span class="input-group-btn" style="padding-left:5px; padding-right:5px;">
              <button class="btn btn-large btn-primary" type="submit">SCHEDULE A DEMO</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
