{% extends "layout.html" %}
{% block header %}Features{% endblock %}
{% block body %}
<div class="container" style="margin-top:125px; margin-bottom:100px;">
  <div class="row vertical-align">
    <div class="col-md-5" style="text-align:left">
      <img src="{{ url_for('static', filename='img/green-illustration.png') }}" width="80%">
    </div>
    <div class="col-md-7 align-middle" style="display:inline-block">
      <div class="landing-header">
        <h1 style="font-size:48px;">We ensure your platform is free of abuse.</h1>
      </div>
      <div class="landing-subtext">
        <h2>Integrating Kite AI is as simple as adding one line of code to your app. Send us a comment, message, or post, and we'll give you a detailed analysis.</h2>
        <h2>We'll provide the results, and you can tailor the solution to fit your platform. The options are limitless, with solutions like a proactive approach of preventing abusive content from being sent, hiding offensive content from users, or auto-reporting abusive content and users.</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="feature-section">
        <h1 class="subheader" id="abuse">Abuse Detection</h1>
        <h2>Utilize the API to analyze comments, posts, or messages. Build a bot to kick abusive users or add it into your app for more possibilities.</h2>
      </div>
      <div class="feature-section" id="sentiment">
        <h1 class="subheader">Sentiment Analysis</h1>
        <h2>In addition to abuse detection, Kite AI can analyze content for positive or negative connotations, allowing you to build more in-depth solutions.</h2>
      </div>
      <div class="feature-section" id="topic">
        <h1 class="subheader">Topic Modeling</h1>
        <h2>In addition to determining whether or not the text is abusive, we detect racism, sexism, political discrimination, religious discrimination, LGBTQ discrimination, and cyberbullying, along with the frequency of each.</h2>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<div class="container demo-cta">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <center>
        <h1>Want to work with us?</h1>
        <h1>Let's chat.</h1>
      </center>
      <div class="landing-action" style="margin-top:30px; width:100%;">
        <form action="http://formspree.io/hello@kiteai.com" method="POST">
          <div class="input-group">
            <input name="email" class="cta-input" type=text placeholder="Enter your email" style="width:100%;">
            <span class="input-group-btn" style="padding-left:5px;">
              <button class="btn btn-large btn-primary" type="submit">SCHEDULE A DEMO</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}
